* { box-sizing: border-box; }

    .slideshow-container {
      position: relative;
      max-width: 1000px;
      margin: auto;
    }
    .mySlides {
      display: none;
      width: 100%;
    }
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      background-color: rgba(0,0,0,0.5);
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    .dot-container {
      text-align: center;
      margin-top: 10px;
    }
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
    }
    .active {
      background-color: #717171;
    }