@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor0: #00122D;
    --cor1: #001e4b;
    --cor2: #005198;
    --cor3: #A3CDE2;
    --cor4: #10b5bf;
    --cor5: #141414;
    --cor6: #000000;
    --cor7: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: var(--cor6);
}

/* Header */

.header-container {
    width: 100%;
    height: 15vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 4%;
    background-color: var(--cor5);
    box-shadow: 0 5px 5px var(--cor6);
    z-index: 100;
}

.header-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    border: none;
}

.header-title::after {
    content: " ";
    width: 0%;
    height: 100%;
    background-color: var(--cor4);
    position: absolute;
    transition: all .5s ease-in-out;
    right: 0;
}

.header-title:hover::after {
    right: 0;
    left: 0;
    width: 100%;
}

.header-title h1 {
    text-align: center;
    width: 100%;
    padding: 18px 25px;
    color: var(--cor7);
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 20;
    transition: all .5s ease-in-out;
}

.header-title h1:hover {
    color: var(--cor7);
    animation: scaleUP .3s ease-in-out;
}

.header-nav {
    margin-right: 14%;
}

.header-a {
    text-decoration: none;
    padding: 20px;
    color: var(--cor4);
    font-size: 17px;
    transition: .5s;
}

.header-a-pagina {
    text-decoration: none;
    padding: 20px 20px 10px 20px;
    color: var(--cor4);
    border-bottom: 2px solid var(--cor4);
}

.header-a:hover {
    color: var(--cor3);
}

/* Main */

main {
    margin: 8% 0 0 0;
    background: url('/IMG/bg.jpg') center no-repeat;
    background-size: cover;
    height: 100%;
}

section {
    padding: 60px 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: transparent;
}

/* Serviços */

.servico-1 {
    border: 1px solid var(--cor4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 10%;
    box-shadow: 0 4px 8px #10b6bfcc;
}

.paragrafos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p1 {
    font-size: 16px;
    color: var(--cor2);
}

.p2 {
    font-size: 24px;
    color: var(--cor2);
    margin-top: 10px;
    margin-left: 50px;
}

.p3 {
    font-size: 32px;
    color: var(--cor2);
    margin-top: 10px;
}

.texto {
    max-width: 50%;
    padding-left: 20px;
}

.texto p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--cor7);
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    color: var(--cor7);
}

span {
    color: var(--cor4);
}

#sobre p {
    text-align: center;
    font-size: 1.2em;
    color: var(--cor7);
}

.servicos-lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.servico {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px #10b6bfcc;
    width: 30%;
    height: 30%;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid var(--cor4);
    transition: .3s ease-in;
}

.servico:hover {
    transform: translateY(-10px);
}

.servico h3 {
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
    color: var(--cor4);
}

/* Formulário de Contato */

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--cor1);
    border-radius: 4px;
    font-size: 1em;
}

form button {
    padding: 10px;
    background-color: var(--cor1);
    color: var(--cor7);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
}

form button:hover {
    background-color: var(--cor2);
}

/* Footer */

footer {
    position: relative;
    background-color: var(--cor0);
    color: var(--cor7);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}


@media (max-width: 1024px) {
    .header-title h1 {
        font-size: 24px;
    }

    .header-nav {
        margin-right: 10%;
    }

    .servico {
        width: 45%;
    }

    .servicos-lista {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .header-nav {
        display: none;
    }

    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .servico-1 {
        flex-direction: column;
        align-items: center;
    }

    .servico {
        width: 80%;
    }

    .container {
        width: 90%;
    }

    h2 {
        font-size: 30px;
    }

    form input,
    form textarea {
        font-size: 0.9em;
    }

    form button {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .header-title h1 {
        font-size: 20px;
    }

    .servico {
        width: 100%;
    }

    .container {
        width: 95%;
    }

    h2 {
        font-size: 25px;
    }

    form input,
    form textarea {
        font-size: 0.9em;
    }

    form button {
        font-size: 1em;
    }
}
