@charset "UTF-8";

:root{
    --cor0 : #00122D;
    --cor1 : #001e4b;
    --cor2 : #005198;
    --cor3 : #C0D8E2;
    --cor4 : #10b5bf;
    --cor5 : #141414;
    --cor6 : #000000;
    --cor7 : #fff;
    
}
 
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
   
}
.header-conteiner{
    justify-content: center;
    width: 100%;
    position: fixed;
    display: flex;
    padding:  30px 20px ;
    background-color: var(--cor5);
    
}

#header-title{
    
    color: var(--cor4);
    text-decoration: none;
    font: bold 20px Arial, Helvetica, sans-serif;
    margin-right: 20px;
}

.header-nav{
   
    margin-left:auto ;
    margin-right: auto;
}

.header-a{
   
    text-decoration: none;
    padding: 20px;
    color: var(--cor4);
    font: bold 20px Arial, Helvetica, sans-serif;
}

.header-a-pagina {
    text-decoration: none;
    padding: 20px 20px 10px 20px;
    color: var(--cor4);
    font: bold 20px Arial, Helvetica, sans-serif;
    border-bottom: 2px solid var(--cor4);
    
    
}

.header-a-pagina:hover{
    color: var(--cor3);
    
}

.header-a:hover{
     color: var(--cor3);
}

/*main*/

main{
    background-color: var(--cor5);
}

.main-section-pricipal{
    max-width: 1400px;
   
    margin: auto;
    
}

.main-section{
    justify-content: left;
    padding-top:  150px;
    width: 100%;
    background-color:  var(--cor5);
    display: flex;
    
   
}


.main-section-img{
    background-repeat: no-repeat;
    background-image: url(https://cdn3d.iconscout.com/3d/premium/thumb/robo-inteligencia-artificial-8265056-6594715.png?f=webp);
    display: inline-block; 
    padding-top:  100px;
    margin-left: 40px;
    height: 327px;
    width: 500px;
    z-index: 1;
   
}

.main-section-article{
    padding-top: 1.5%;
    height: 30px;
    width: 600px ;
    
}

.main-section-h1{
    color: var(--cor4);
    font: bold 30px Arial, Helvetica, sans-serif;
}

.main-section-p{
    padding-right: 15px;
    margin-top: 20px;
    color: var(--cor7);  
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
}

.main-conteiner-contato{
    display: flex;
    background-color: var(--cor5);
    justify-content: right;
    padding-right: 60px ;
}

.main-contato{

    color: var(--cor4);
    margin: 12px;
    width: 25px;
    height: 25px;
    border: 0.3px solid  #10b6bf63;
    padding: 10px;
    border-radius: 50%;
    margin-top: -100px;
    box-shadow:  0px 0px 20px  #10b6bf;
    
}

/* footer*/

.footer-conteine{
    text-align: center;
    justify-content: space-between;
    display: flex;
    gap: 20px;
    background-color: var(--cor5);

}
.footer-conteiner-icones{
    margin-right: auto;
    margin-left: auto;
    color: var(--cor6);
    display: flex;
    padding: 30px 0px;
    background-color: var(--cor5);
    gap: 20px;
}
.footer-icones{
    color: var(--cor7);
   
    height: 32px;
    width: 32px;
}

.footer-ecopy, .footer-politica { 
    padding: 30px;
    color: var(--cor7);
}
.footer-a{
    text-decoration: none;
    color: var(--cor7);
}


/*CSS do tablet*/

@media (max-width:800px ){
   



}
/* CSS do mobile*/

@media(max-width:450px){
 
    


}

