@charset "UTF-8";

:root{
    --cor0 : #00122D;
    --cor1 : #001e4b;
    --cor2 : #005198;
    --cor3 : #A3CDE2;
    --cor4 : #c0d8e2;
}
 
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

header{
    display: flex;
    align-items: center;
    color: #fff;
    background-color: var(--cor0);
    padding: 30px 20px 10px 20px;
}

#header-title{
    font-size: 18px;
    font-weight: bolder;
    padding-right: 20px;
}
.headerd-nav{
   display: flex;
   justify-content: center;
}
.header-a{
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    margin: 5px;

}
.header-a:hover{
    transition: 0.3s;
    background-color: var(--cor2);
    border-radius: 5px;
}


main{
    max-width: 850px;
    min-width: 350px;
}

/*CSS do tablet*/

@media (max-width:800px ){
   



}
/* CSS do mobile*/

@media(max-width:450px){
 
    


}