@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor0 : #00122D;
    --cor1 : #001e4b;
    --cor2 : #005198;
    --cor3 : #A3CDE2;
    --cor4 : #10b5bf;
    --cor5 : #141414;
    --cor6 : #000000;
    --cor7 : #fff;
    
}

*{
    font-family: 'Inter', sans-sif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('https://i.gifer.com/J4o.mp4');
}

.header-container{
    width: 100%;
    top: 0;
    left: 0; 
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  30px 20px ;
    background-color: var(--cor5);
    box-shadow:  0 5px 5px var(--cor6);
    padding: 14px 4%;
    z-index: 100;
    
}

.header-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    border: none;
}

.header-title::after {
    content: " ";
    width: 0%;
    height: 100%;
    background-color: var(--cor4);
    position: absolute;
    transition: all .5s ease-in-out;
    right: 0;
}

.header-title:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.header-title h1 {
    text-align: center;
    width: 100%;
    padding: 18px 25px;
    color: var(--cor7);
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 20;
    transition: all .5 ease-in-out;
}

.header-title h1:hover {
    color: var(--cor7);
    animation: scaleUP .3s ease-in-out;
}

.header-nav{
    margin-right: 14%;
}

.header-a{
    text-decoration: none;
    padding: 20px;
    color: var(--cor4);
    font-size: 17px;
    transition: .5s;

}

.header-a-pagina {
    text-decoration: none;
    padding: 20px 20px 10px 20px;
    color: var(--cor4);
    border-bottom: 2px solid var(--cor4);
    
}

.header-a:hover{
    color: var(--cor3);
}

/* main */

.banner-container {
    margin: 10% 4% 2%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: var(--cor2);
    width: 90%;
    height: 400px;
    box-shadow: 0px 10px 10px #00000054;
    animation: blob 1s;
}

.banner {
    color: var(--cor6);
    padding: 20px;
    position: absolute;
    z-index: 1;
}

.banner h1 {
    color: var(--cor7);
    margin: 0;
    font-size: 70px;
} 

.banner h1 span {
    color: var(--cor4);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Serviços */

#servicos {
    padding: 14px 4%;
    background-color: #ffffff;
}

#servicos .container {
    margin: 14px 4%;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.container p {
    margin-bottom: 40px;
}

#servicos h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#servicos .servico {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 8%;
    transition:.3s ease;
}

#servicos .servico:hover {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px #00000053;
    transform: translateY(-10px);
    transition: .3s ease;
}

#servicos .servico h3 {
    color: #333;
    font-size: 32px;
    margin-bottom: 10px;
}

#servicos .servico p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

/* serviços pupolares */

.populares {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    margin: 14px 4%;

}

.pop-img {

}

.txt {
    
}

/* Animations */

@keyframes blob {
    from {
        width: 20%;
    }

    to {
        width: 90%;
    }
}

/* medias */

@media screen and (max-width: 600px)
 {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
 }

